  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Source+Code+Pro:wght@200;400;600&display=swap');

*{
    background-color: beige ;
}
h1{
    color: white;
    background-color: #f4d49e;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 70px;
    text-align: center;
    width: 600px;
    height: 80px;
    margin-left: 370px;
}

h2{
    background-color: #d0bea0;
}

pre{
    background-color: #d0bea0;
}

p {
    color: rgb(73, 7, 7);
    padding-left: 30px;
    padding-bottom: 20px;
}

#stilo1{
    color: brown;
}

.stilo2{
    color: rgb(186, 80, 80);
    font-size: 30px;
}
