h1{
    background-color:darkslategrey;
}
h2{
    background-color:rgb(55, 114, 114);
}
#p1{
    background-color:rgb(63, 160, 160);
}
#p2{
    background-color: deepskyblue;
}
.div1{
    background-color: gray;
}